main {
margin-top: 3rem;
}

main .card {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .read-more {
    text-align: center;
  }
}

footer.page-footer {
  background-color: #0f6256;
  margin-top: 2rem;
}

#bball {
  height: 50px;
  width: 50px;
}

#button {
  color: black;
}
